{% extends 'site_base.html' %}
{% load staticfiles %}
{% block content %}

<section class="color">
<div class="container">
<h2>
Choose your Path
</h2>
<p>Our objective is to dive into the Art of <em>Thinking</em>, the mastery of your creative <em>tools</em> the science of <em>computer programming</em> and the techniques and skills of <em>coding</em>.</p>
<p>More particularly, iCODE ... it is good to practice problems solving and writing code. It is like daily workout. The programmer who wrote 1000 programs will be always better than one who wrote only 10</p>
<p>Learn how to practice Practice how to learn</p>
<h3>
Linear Progression
</h3>
<p>iCODE-000<br />
level 0 the apprentice learner (Problem Solving, tools and Computer Language)<br />
level 1 the learning apprentice (Computer Science, Software Design)<br />
level 2 the practicing learner (demo and live-coding videos)</p>
<p>iCODE-001<br />
level 3 the learning practitioner (invited to perform, meetup, convention)<br />
level 4 the practicing master (1 masterpiece on git)<br />
leval 5 the master practitioner (1 project with contributers</p>
<p>iCODE-010<br />
level 6 the performing master (spotcoder: perform live where and whenever)</p>
<p>iCODE-011<br />
level 7 the master performer (This is showbusiness: payed to perform)</p>
<h3>
A la Carte Progression
</h3>
</div>
</section>
<section>
<div class="container">



<h2 id="level-0-the-apprentice-learner">level 0 the apprentice learner</h2>
<p>(Problem Solving, tools and Computer Language)</p>
<h3 id="problem-solving">Problem Solving</h3>
<p>small intro</p>
<p>links to edX ...</p>
<h3 id="tools">tools</h3>
<p>small intro</p>
<p>links to tools ...</p>
<h3 id="computer-language">Computer Language</h3>
<p>Starting with Python</p>
<p>links to edX ...</p>
<h2 id="level-1-the-learning-apprentice">level 1 the learning apprentice</h2>
<p>(Computer Science, Software Design)</p>
<h3 id="computer-science">Computer Science</h3>
<p>small intro</p>
<p>links to edX ...</p>
<h3 id="software-design">Software Design</h3>
<p>small intro</p>
<p>links to edX ...</p>
<h2 id="level-2-the-practicing-learner">level 2 the practicing learner</h2>
<p>(demo and live-coding videos)</p>
<h3 id="demo-how-to-make-it-compelling-and-engaging">Demo; How to make it compelling and engaging</h3>
<h3 id="video-how-to-make-a-live-coding-screencast">Video; How to make a live-coding Screencast</h3>
<!--
level 3 the learning practitioner (invited to perform, meetup, convention)  
level 4 the practicing master (1 masterpiece on git)  
leval 5 the master practitioner (1 project with contributers  

level 6 the performing master (spotcoder: perform live where and whenever)  

level 7 the master performer (This is showbusiness: payed to perform)
-->

{% endblock content %}

