{% extends 'site_base.html' %}
{% load staticfiles %}
{% block content %}

<h2 id="tips-for-rapid-progress">Tips for rapid progress</h2>
<h1 id="momentum-break-inertia">Momentum; Break inertia</h1>
<p>Take a moment to reflect on what it is you want to get from this website. Beyond iCODE (iterative Creative Output of Digital Expression) what does that mean personally for you.</p>
<p>Now just dive in. Put an note in your diary or logbook or your calendar and start your daily progress.</p>
<p>Following are tools to help you keep on moving, on track, toward your personal idea of Creative Expression.</p>
<h1 id="tame-procrastination">Tame Procrastination</h1>
<h2 id="problems-and-antidotes">Problems and antidotes</h2>
<ol type="1">
<li><p>Fear of failure (Perfectionism) Do it wrong until you get it right.</p></li>
<li><p>Fear of success (Unknown) Quite your mind. Embrace the unknown one step at a time.</p></li>
<li><p>Fear of commitment (Stuck in a rut) When at a crossroad, Choose action over inaction.</p></li>
<li><p>Lack of Focus Be clear on your priorities. Cut down multi-tasking. Singletasking rules! Cut down your todo list (20/80)</p></li>
<li><p>Lack of Planning Cut out vageness. Select what you want, Uncover what it entails Create a real plan, by breaking it into a series of small tasks.</p></li>
<li><p>Lack of Scheduling Have dedicated period blocks to do what must be done whether you feel like it or not.</p></li>
</ol>
<h2 id="recap">recap</h2>
<p>iterative periodes of singletask step by step actions until all tasks are crossed-out.</p>
<h1 id="build-velocity">Build Velocity</h1>
<h1 id="measure-productivity">Measure Productivity</h1>

{% endblock content %}

