{% extends 'site_base.html' %}
{% load staticfiles %}
{% block content %}

<section class="color">
<div class="container">
<h2>
Learn to code?
</h2>
<p>Code, coding, and programming means different things to different people. After all, coding is hard, right? It takes time, effort, practice, real projects, trials and triumph.<br />
&quot;Everybody needs to learn Code!&quot; ... how are we to understand this rallying call?</p>
<p>Perhaps it is not a misguided or misguiding movement, <strong>if</strong> we understand coding as <em>a way of thinking and problem solving</em>, rather than just the relm of syntaxes, languages features and jobs of the future.</p>
<h2>
iCODE
</h2>
<p>Let's embrace the Art of <em>Thinking</em> and the skill of <strong><em>problem decomposition</em></strong>.</p>
<p>Let's values the <strong>mastery</strong> of your creative <em>tools</em>, the <strong>science</strong> of <em>computer programming</em> and the <strong>techniques and skills</strong> of <em>coding</em>.</p>
<p>To these ends, let's use the web to become better at figuring out stuff for yourself. <br/> Let's practice problems solving and writing code. <br/> Let's make it a regular workout.</p>
<p>The programmer who wrote 100 programs will always be better than one who wrote only 1. The programmer who contributed to 1 opensource project will always better be than one who wrote 1000 personal projects.</p>
<p>Whether you are a veteran programmer or a new coder, challenge yourself to Know what you are doing, why it works and why that way. Think better, on purpose. Take the time to go fast ... <a href="/concept/">welcome to iCODE ::..</a></p>
</div>
</section>
<section>
<div class="container">


<h3>
Offline activities
</h3>
<h3>
Online activities
</h3>
<p><a href="http://macgyverdev.blogspot.ca/2014/04/become-better-programmer-with.html">check this</a></p>
<h3>
Hybrid activities
</h3>
<h4>
SpotCoding
</h4>
<p>
<p>Spot coding is a performing arts form and a creativity outlet for</p>
and teaching technique centred upon the writing of source code and the use of interactive programming in a scripted and improvised way. SpotCoding can be viewed as a Performance coding session and a performing arts form and a creativity technique centred upon the writing of source code and the use of interactive programming in a scripted rehearsed show with strong improvised addings.
</p>
<h2 id="lets-get-started"><a href="../concept/index.html">Let's Get started</a></h2>
<p>summary concept</p>
<p>summary tools</p>
<p>summary learn</p>
<p>level 0 the apprentice learner (Problem Solving, tools and Computer Language) level 1 the learning apprentice (Computer Science, Software Design) level 2 the practicing learner (demo and live-coding videos)</p>
<p>summary practice</p>
<p>First thing first: Have a plan, know your plan so <a href="../concept/index.html">Let's Get started -&gt;</a></p>

{% endblock content %}

