{% extends 'site_base.html' %}
{% load staticfiles %}
{% block content %}

<section class="color">
<div class="container">
<h2>
icode
</h2>
<p>is dedicated to the Art of <em>Thinking</em>, the mastery of your creative <em>tools</em> the science of <em>computer programming</em> and the techniques and skills of <em>coding</em>.</p>
<h3>
Offline activities
</h3>
<h3>
Online activities
</h3>
<h3>
Hybrid activities
</h3>
<h4>
SpotCoding
</h4>
<p>
<p>Spot coding is a performing arts form and a creativity outlet for</p>
<p>and teaching technique centred upon the writing of source code and the use of interactive programming in a scripted and improvised way. SpotCoding can be viewed as a Performance coding session and a performing arts form and a creativity technique centred upon the writing of source code and the use of interactive programming in a scripted rehearsed show with strong improvised addings.</p>
</p>
</div>
</section>
<section>
<div class="container">


<h2 id="lets-get-started"><a href="../concept/index.html">Let's Get started</a></h2>
<p>thinking efficiency: Design and thought process and generally offline skills</p>
<p>coding proficiency:</p>
<blockquote>
<p>math is no longer about correct and incorrect answers. It's also about how responses and results can be defended, explained, and justified using mathematical thinking. _<a href="https://www.linkedin.com/pulse/doing-math-vs-thinking-mathematically-whats-erik-m-francis">Erik M. Francis, M.Ed., M.S.</a></p>
</blockquote>
<h2 id="icode-inspiration">icode inspiration</h2>
<p>icode gets its inspiration from the following sources</p>
<h3 id="offline-skills">Offline skills:</h3>
<p>(critical, mathematical, computational) Thinking</p>
<h4 id="deliberate-thinking">Deliberate Thinking</h4>
<h4 id="efficient-thinking">Efficient Thinking</h4>
<h4 id="mathematical-thinking">Mathematical Thinking</h4>
<h4 id="computational-thinking">Computational Thinking</h4>
<h3 id="online-skills">Online skills:</h3>
<p>SpotCoding; impromptu semi-rehearsed live performance</p>
<h4 id="live-coding">Live coding</h4>
<p>Live coding is a performing arts form and a creativity technique centred upon the writing of source code and the use of interactive programming in an improvised way.</p>
<h4 id="interactive-coding">Interactive coding</h4>
<p>Interactive coding also called Interactive programming is the procedure of writing parts of a program while it is already active. This focuses on the program text as the main interface for a running process, rather than an interactive application, where the program is designed in development cycles and used thereafter (usually by a so-called &quot;user&quot;, in distinction to the &quot;developer&quot;). Consequently, here, the activity of writing a program becomes part of the program itself.</p>
<h4 id="competitive-coding">Competitive coding</h4>
<p>Competitive coding.</p>
<h4 id="show-and-tell-coding">Show and Tell coding</h4>
<p>Convention, Academic, tutorial and workshop coding in various Programming Languages</p>
<h5 id="python">Python</h5>
<p>David Beazley</p>
<div class="video-container">
<iframe src="https://www.youtube.com/embed/MCs5OvhV9S4?html5=true" frameborder="0" width="560" height="315">
</iframe>
</div>
<p>Godwin</p>
<h5 id="javascript">Javascript</h5>
<p>david geary</p>
<p>keith peters : condingMath</p>
<div class="video-container">
<iframe src="http://www.youtube.com/embed/zm9bqSSiIdo?html5=true" frameborder="0" width="560" height="315">
</iframe>
</div>
<p>Sara Soueidan</p>
<h5 id="ruby">Ruby</h5>
<h5 id="java">Java</h5>
<h5 id="cc">C/C++</h5>
<h5 id="closure">Closure</h5>
<h5 id="story-telling">Story telling</h5>
<p>Story telling in a coding context.</p>
<p>Brandon Rhodes</p>
<p>... ---</p>
<!-- NOT FOR YOUTUBE VIMEO div class="video-container">
  <video controls="controls" allowfullscreen="true" poster="../../static/img/icode.lerina_trans120.png">
    <source src="https://www.youtube.com/embed/zm9bqSSiIdo?html5=true" type="video/mp4">
    <p>Your browser does not support the video element. Update your browser.</p>
  </video>
</div -->
<p>... ---</p>
<p><a href="../concept/index.html">Let's Get started -&gt;</a></p>

{% endblock content %}

